.menu {
    display: flex;
    justify-content: flex-end;
}

.profile {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin: 2rem 0 2rem 0;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item {
    width: 100px;
    height: 100px;

    background-color: rgba(0,0,0,0.06);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}